{%extends "base.html"%}
{%block title%}Contact - CS3620 Portfolio {%endblock%}
{%block content%}
    <div class="container my-4 ab-prose">
        <h1 class="ab-section-title">Contact Information</h1>
        <div class="ab-card p-3">
            <div class="d-flex align-items-center gap-3">
                <span  class="ab-subtle-lead">Email:</span>
                <a class="" href="mainto:AlexanderBerry@mail.weber.edu">
                    AlexanderBerry@mail.weber.edu
                </a>
            </div>
        </div>
        <div class="ab-card p-3">
            <div class="d-flex align-items-center gap-3">
                <span  class="ab-subtle-lead">GitHub:</span>
                <a class="" href="https://github.com/AlexanderRBerry">
                    https://github.com/AlexanderRBerry
                </a>
            </div>
        </div>
        <div class="ab-card p-3">
            <div class="d-flex align-items-center gap-3">
                <span  class="ab-subtle-lead">Linkedin:</span>
                <a class="" href="www.linkedin.com/in/alexander-berry-493989304">
                   www.linkedin.com/Alexander-Berry
                </a>
            </div>
        </div>
    </div>
{%endblock%}