{%extends "base.html"%}
{%load static%}
{%block title%}{{hobby.name}}{%endblock%}
{%block content%}
    <div class="container my-4">
        <h1 class="ab-section-title"> {{hobby.name}} </h1>
        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>
                        Description
                    </h4>
                    <p class="mb-1">{{hobby.description}}</p>
                    <h5>
                        Estimated Monthly cost
                    </h5>
                    <p class="mb-0 ">{{hobby.monthly_cost}}</p>
                </div>
                <!--Bootstrap carousel-->
                <div class="col-md-6">
                    {% with imgs=hobby.images.all%}
                    {%if imgs%}
                        <div id="HobbyCarousel-{{hobby.pk}}" class="carousel slide">
                            <div class="carousel-inner">
                              {%for img in imgs%}
                                <div class="carousel-item {%if forloop.first%}active{%endif%}">
                                  <img src="{{img.image.url}}" class="d-block w-100" alt="{{img.alt_text}}">
                                </div>
                              {%endfor%}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#HobbyCarousel-{{hobby.pk}}" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#HobbyCarousel-{{hobby.pk}}" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    {%endif%}
                    {%endwith%}
                </div>
            </div>
        </div>


    </div>
{%endblock%}